input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;

  &:hover,
  &:focus {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

input[type="email"],
input[type="tel"] {
  padding-right: 50px;
}

.input-text,
.input-number {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}

.input-text > span,
.input-number > span {
  flex-shrink: 0;
  margin-right: 15px;
}

.radio {
  display: inline-block;
  position: relative;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &__box {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover > .radio__box {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="radio"] {
  &:checked + .radio__box::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #68b738;
  }

  &:focus + .radio__box {
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
}

.input-email {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    right: 16px;
    width: 17px;
    height: 13px;
    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
  }
}

.input-tel {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 13px;
    right: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
  }
}

.input-email span,
.input-tel span {
  flex-shrink: 0;
  margin-right: 12px;
}

textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;

  &:hover,
  &:focus {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &__box {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }

  &:hover > &__box {
    border-color: #bababa;
  }

}

input[type="checkbox"] {
  &:checked + .checkbox__box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 16'%3E%3Cpath fill='%2368b738' d='M20.075 0L7.729 13.304 1.025 6.08 0 7.185l7.626 8.218.103.11L20.998 1.215l.102-.11z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 16px;
  }

  &:focus + .checkbox__box {
    border-color: #bababa;
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }

  &:focus:not(:focus-visible) + .checkbox__box {
    outline: none;
  }

  &:active + .checkbox__box {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .input-text,
  .input-number,
  .radio {
    font-size: 20px;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel] {
    padding: 14px 20px;
    font-size: 20px;
  }

  .radio {
    min-height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;

    &__box {
      width: 40px;
      height: 40px;
    }
  }

  input[type=radio]:checked + .radio__box::before {
    width: 18px;
    height: 18px;
  }

  .input-email,
  .input-tel {
    font-size: 20px;
  }

  .input-email span,
  .input-tel span {
    margin-right: 20px;
  }

  input[type=email],
  input[type=tel] {
    padding-right: 50px;
  }

  .input-email::after,
  .input-tel::after {
    top: 18px;
  }

  .input-email::after {
    right: 20px;
  }

  .input-tel::after {
    right: 15px;
  }

  textarea {
    min-height: 174px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .checkbox {
    min-height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    font-size: 20px;

    &__box {
      width: 40px;
      height: 40px;
    }
  }
}
