input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

input[type="email"],
input[type="tel"] {
  padding-right: 50px;
}

.input-text,
.input-number {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}

.input-text > span,
.input-number > span {
  flex-shrink: 0;
  margin-right: 15px;
}

input[type="radio"] {
  display: none;
}

.input-radio {
  display: inline-block;
  position: relative;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="radio"]:checked + .input-radio::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
}

.input-email {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    right: 16px;
    width: 17px;
    height: 13px;
    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
  }
}

.input-tel {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 13px;
    right: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
  }
}

.input-email span,
.input-tel span {
  flex-shrink: 0;
  margin-right: 12px;
}

textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444444;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

input[type="checkbox"] {
  display: none;
}

.input-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    transform: translateY(-50%);
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="checkbox"]:checked + .input-checkbox {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 5px;
    width: 21px;
    height: 16px;
    transform: translateY(-50%);
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .input-text,
  .input-number,
  .input-radio {
    font-size: 20px;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel] {
    padding: 14px 20px;
    font-size: 20px;
  }

  .input-radio {
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  input[type=radio]:checked + .input-radio::after {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .input-email,
  .input-tel {
    font-size: 20px;
  }

  .input-email span,
  .input-tel span {
    margin-right: 20px;
  }

  input[type=email],
  input[type=tel] {
    padding-right: 50px;
  }

  .input-email::after,
  .input-tel::after {
    top: 18px;
  }

  .input-email::after {
    right: 20px;
  }

  .input-tel::after {
    right: 15px;
  }

  textarea {
    min-height: 174px;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .input-checkbox {
    padding-left: 60px;
    font-size: 20px;
    line-height: 40px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  input[type=checkbox]:checked + .input-checkbox::after {
    left: 10px;
  }
}
