.suggestion__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111111;
}

.suggestion__form {
  margin-top: 40px;
  padding-bottom: 30px;

  & fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  & > fieldset:nth-of-type(2),
  & > fieldset:nth-of-type(3) {
    margin-top: 30px;
  }

  & > .wrapper > fieldset:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    border-top: 1px solid #ededed;
    padding-bottom: 20px;
  }
}

.suggestion__form-list {
  margin: 0;
  margin-top: -15px;
  padding: 0;
  list-style: none;

  & > li {
    margin-top: 15px;
  }
}

.suggestion__form > .suggestion__wrapper > fieldset {
  &:nth-child(2) {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}

.suggestion__form legend {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 20px;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #111111;
  background-color: #ffffff;

  &::after {
    position: relative;
    content: "";
    top: 10px;
    flex-grow: 1;
    height: 3px;
    margin-left: 22px;
    background-color: #68b738;
  }
}

.suggestion__form legend > span {
  display: block;
  order: 1;
  width: 100%;
}

.suggestion__form > .wrapper:last-child {
  margin-top: 35px;
}

.suggestion__form-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.suggestion__form-required {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #444444;
}

@media (min-width: 480px) {
  .suggestion__form-list--checkbox {
    display: flex;
    flex-wrap: wrap;

    & > li {
      width: 50%;
      padding-right: 20px;
    }
  }
}

@media (min-width: 768px) {
  .suggestion {
    padding-top: 50px;

    & > .wrapper {
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  .suggestion__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .suggestion__form {
    margin-top: 65px;

    & > .wrapper {
      padding-right: 70px;
      padding-left: 70px;

      & > fieldset:nth-child(2) {
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 25px;
        padding-left: 30px;
        border: 1px solid #ededed;
      }
    }
  }

  .suggestion__form {
    & > fieldset:nth-child(3),
    & > fieldset:nth-child(4) {
      margin-top: 65px;
    }
  }

  .suggestion__form legend {
    margin-bottom: 70px;
    padding-left: 0;
    font-size: 36px;

    &::before {
      content: "";
      position: relative;
      top: 18px;
      width: 30px;
      height: 3px;
      margin-right: 40px;
      background-color: #68b738;
    }

    &::after {
      top: 18px;
      margin-left: 45px;
    }
  }

  .suggestion__form legend > span {
    display: inline-block;
    order: 0;
    width: auto;
    margin-left: 15px;
  }

  fieldset > .wrapper {
    padding-right: 70px;
    padding-left: 70px;
  }

  .suggestion__form legend + .suggestion__form-list {
    padding-right: 70px;
    padding-left: 70px;
  }

  .suggestion__form-list {
    margin-top: -20px;

    & > li {
      margin-top: 20px;
    }
  } 

  .suggestion__form > fieldset:nth-child(4) > .wrapper {
    padding-right: 70px;
    padding-left: 70px;
  }

  .suggestion__form > fieldset:nth-child(5) > legend {
    margin-bottom: 50px;
  }

  .suggestion__form-list--radio {
    margin-top: -15px;

    & > li {
      margin-top: 15px;
    }
  }

  .suggestion__form-list--checkbox {
      margin-top: -30px;

    & > li {
      margin-top: 30px;
      padding-right: 40px;
    }
  }

  .suggestion__form > .wrapper:last-child {
    display: flex;
    align-items: center;
    margin-top: 55px;
  }

  .suggestion__form-btn {
    width: 283px;
    margin-top: 0;
    margin-right: 60px;
    padding: 16px;
    font-size: 20px;
  }

  .suggestion__form-required {
    width: auto;
    margin-top: 0;
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .suggestion {
    padding-top: 0;

    & > .wrapper {
      padding-right: 110px;
      padding-left: 110px;
    }
  }

  .suggestion__text {
    padding-right: 0;
    padding-left: 0;
  }

  .suggestion__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;

    & > fieldset:nth-of-type(1) {
      margin-top: 75px;
    }
  }

  .suggestion__form > .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 110px;
    padding-left: 110px;
  }

  .suggestion__form > .wrapper > fieldset {
    width: 570px;
    padding-right: 0;
    padding-left: 0;

    &:nth-child(1) {
      padding-bottom: 0;
      border-bottom: none;
    }

    &:nth-child(2) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .suggestion__form > .wrapper > fieldset > .suggestion__form-list {
    padding-right: 0;
    padding-left: 0;
  }

  .suggestion__form > fieldset {

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 100%;
    }

    &:nth-child(4) > .wrapper {
      padding-right: 110px;
      padding-left: 110px;
    }
  }

  fieldset {
    & > .wrapper {
      padding-right: 110px;
      padding-left: 110px;
    }
  }

  .suggestion__form legend::before {
    width: 70px;
  }

  .suggestion__form legend + .suggestion__form-list {
    padding-right: 110px;
    padding-left: 110px;
  }

  .suggestion__form-list--contacts {
    display: flex;
    justify-content: space-between;

    & > li {
      width: 570px;
    }
  }

  .suggestion__form-list--checkbox > li {
    width: 25%;
  }

  .suggestion__form > .wrapper:last-child {
    width: 1440px;
    justify-content: flex-start;
  }

  .suggestion__form-btn {
    width: 570px;
  }
}
