.categories {
  @include wrapper();
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__list li:not(:first-child) {
  margin-top: 20px;
}

.categories__item {
  position: relative;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";
    left: 20px;
    background-repeat: no-repeat;
  }
}

.categories__item--losing {
  &::before {
    top: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/losing--mobile.png");
  }
}

.categories__item--gaining {
  &::before {
    top: 25px;
    left: 10px;
    width: 67px;
    height: 50px;
    background-image: url("../img/gaining--mobile.png");
  }
}

.categories__item-title {
  margin: 0;
  padding-left: 70px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.categories__item > p {
  margin: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #444444;
}

.categories__item-link {
  display: inline-block;
  margin-top: 20px;
  padding-right: 50px;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 24px;
    height: 11px;
    transform: translateY(-50%);
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    padding-right: 60px;

    &::after {
      width: 33px;
      height: 11px;
      background-image: url("../img/arrow--long.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 33px;
      height: 11px;
      background-image: url("../img/arrow--long.svg");
    }
  }
}

@media (min-width: 768px) {
  .categories__item {
    padding-top: 75px;
    padding-right: 38.84%;
    padding-bottom: 60px;
    padding-left: 55px;

    &::before {
      left: unset;
    }
  }

  .categories__item--losing::before {
    top: 80px;
    right: 8.9%;
    width: 200px;
    height: 212px;
    background-image: url("../img/losing--tablet.png");
  }

  .categories__item--gaining::before {
    top: 92px;
    right: 4%;
    width: 268px;
    height: 200px;
    background-image: url("../img/gaining--tablet.png");
  }

  .categories__item-title {
    padding-left: 0;
    font-size: 36px;
  }

  .categories__item > p {
    margin-top: 20px;
    padding-bottom: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .categories__item-link {
    margin-top: 55px;
    padding-top: 0;
    font-size: 20px;
  }
}


@media (min-width: 1440px) {
  .categories {
    padding-top: 80px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__list li {
    width: 570px;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  .categories__item {
    padding-right: 50px;
    padding-left: 55px;
  }

  .categories__item--losing::before {
    top: 35px;
    left: 52px;
    width: 100px;
    height: 106px;
    background-image: url("../img/losing--desktop.png");
  }

  .categories__item--gaining::before {
    top: 47px;
    left: 34px;
    width: 134px;
    height: 100px;
    background-image: url("../img/gaining--desktop.png");
  }

  .categories__item-title {
    padding-left: 33%;
  }

  .categories__item > p {
    margin-top: 65px;
  }

  .categories__item-link {
    margin-top: 35px;
  }
}
