.categories {
  @include wrapper();
}

.categories__list {
  margin: 0;
  margin-top: -20px;
  padding: 0;
  list-style: none;

  & > li {
    margin-top: 20px;
  }
}

.categories__item {
  position: relative;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";
    left: 20px;
    background-repeat: no-repeat;
  }

  &--losing {
    &::before {
      top: 22px;
      width: 50px;
      height: 53px;
      background-image: url("../img/losing--mobile.png");
    }
  }

  &--gaining {
    &::before {
      top: 25px;
      left: 10px;
      width: 67px;
      height: 50px;
      background-image: url("../img/gaining--mobile.png");
    }
  }
}

.categories__item-title {
  margin: 0;
  padding-left: 70px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.categories__item > p {
  margin: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #444444;
}

.categories__item-link {
  display: inline-block;
  margin-top: 20px;
  padding-right: 50px;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 24px;
    height: 11px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 11'%3E%3Cpath fill='%233f4242' d='M17.6 0l6.6 5.5-6.6 5.5V6.6H0V4.4h17.6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {

    &::after {
      width: 33px;
      height: 11px;
      transform: translate(10px, -50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 11'%3E%3Cpath fill='%233f4242' d='M25.4 0L32 5.5 25.4 11V6.6H0V4.4h25.4z'/%3E%3C/svg%3E");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 33px;
      height: 11px;
      background-image: url("../img/arrow--long.svg");
    }
  }
}

@media (min-width: 768px) {
  .categories__item {
    padding-top: 75px;
    padding-bottom: 60px;
    padding-left: 55px;

    &::before {
      left: unset;
    }

    &--losing {
      padding-right: 275px;

      &::before {
        top: 80px;
        right: 62px;
        width: 200px;
        height: 212px;
        background-image: url("../img/losing--tablet.png");
      }
    }

    &--gaining {
      padding-right: 305px;

      &::before {
        top: 92px;
        right: 27px;
        width: 268px;
        height: 200px;
        background-image: url("../img/gaining--tablet.png");
      }
    }
  }

  .categories__item-title {
    padding-left: 0;
    font-size: 36px;
  }

  .categories__item > p {
    margin-top: 20px;
    padding-bottom: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .categories__item-link {
    margin-top: 55px;
    padding-top: 0;
    font-size: 20px;
  }
}


@media (min-width: 1440px) {
  .categories {
    padding-top: 80px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

    & > li {
      margin-top: 0;
      width: 570px;
    }
  }

  .categories__item {
    padding-right: 50px;
    padding-left: 55px;
  }

  .categories__item--losing::before {
    top: 35px;
    right: unset;
    left: 52px;
    width: 100px;
    height: 106px;
    background-image: url("../img/losing--desktop.png");
  }

  .categories__item--gaining::before {
    top: 47px;
    right: unset;
    left: 34px;
    width: 134px;
    height: 100px;
    background-image: url("../img/gaining--desktop.png");
  }

  .categories__item-title {
    padding-left: 33%;
  }

  .categories__item > p {
    margin-top: 65px;
  }

  .categories__item-link {
    margin-top: 35px;
  }
}
